/*
    This is the main style page for the 3 websites
*/
#mainTitle {
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 14px;
    text-align: center;
}
header {
    display: flex;
    align-items: center;
    background-color: #90ee90;
    margin: 
}
#logo {
    height: 80px;
    width: 80px;
}
a:visited{
    color: burlywood;
}
a:active{
    color: plum;
}
#topBar {
    overflow: hidden;
    height: 40px;
}
#topBar a {
    color: violet;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 12px;
}
#topBar a.currentPage {
    background-color: violet;
    color: #90ee90;
}
#topBar a:hover {
    background-color: violet;
    color: #90ee90;
}
body {
    background-color: #daffd4;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
}
#batPic {
    height: 200px;
    width: 200px;
    border: 1pt solid #A8A8A8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a[target] {
    color: #90ee90;
}
@media screen and (min-width: 1200px) {

}

  