/*
    This is the main style page for the 3 websites
*/
#mainTitle {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 14px 30px;
    text-align: center;
}
main {
    background-color: white;
    height: 100%;
    margin: 0;
}
article {
    height: 375px;
    background-color: #e4decd;;
}
header {
    display: flex;
    align-items: center;
    background-color: #c2b490;
    margin: 0;
}
#logo {
    height: 80px;
    width: 80px;
    opacity: 1.0;
}
a:visited{
    color: burlywood;
}
a:active{
    color: #82716e;
}
#topBar {
    padding: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: auto;
}
#topBar a {
    color: gray;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #82716e;
    padding: 10px;
}
#topBar a.currentPage {
    background-color:  #82716e;
    color: white;
}
#topBar a:hover {
    background-color: #acb7ae;
    color: #F0FFFF;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
#batPic {
    height: 200px;
    width: 200px;
    border: 1pt solid #A8A8A8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#whiteNose {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    opacity: 0.5;
}
img:hover {
    opacity: 1.0;
}
.main {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 100%;
    background-color: beige;
}
@media only screen and (max-width: 400px) {
    body {
        width: 100%;
        }
    header {
        width: 100%;
    }
}
@media screen and (min-width: 401px) and (max-width: 700px) {
    body {
        width: 100%;
    }
    header {
        width: 100%;
    }
}
@media screen and (min-width: 701px) and (max-width: 1200px) {
    body {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
        }
    #form {
        margin-left: auto;
        margin-right: auto;
    }
    header {
        width: 100%;
    }
    
}
@media screen and (max-width: 700px) {
    #centralGrid {
        grid-template-rows: 4fr; 
    }
    #gridOne {
        grid-row: 1;
        grid-column: 1 / 3;
    }
    #gridTwo {
        grid-row: 2;
        grid-column: 1 / 3;
    }
    #gridThree {
        grid-row: 3;
        grid-column: 1 / 3;
    }
    #gridFour {
        grid-row: 4;
        grid-column: 1 / 3;
    }
}
h2 {
    margin: 0;
}
#centralGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 125px 40px 40px 40px;
    grid-gap: 20px;
    padding: 5px;
}
#centralGrid div {
    background-color: #82716e;
    padding: 5px;
}
.footer {
    background-color: #acb7ae;
    text-align: center;
    height: 50px;
    padding: 20px;
    color: gray;
    margin: 0;
}
#form {
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
    padding: 50px;
}
#form div {
    background-color: #acb7ae;
    padding: 10px;
    text-align: left;
}
textarea {
    height: 200px;
    width: 400px;;
}
#submit {
    float: right;
}
#submit:hover {
    background-color: #82716e;
    color: white;
}
   
  