/*
    This is the main style page for the 3 websites
*/
#mainTitle {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 14px 30px;
    text-align: center;
}
main {
    background-color: white;
    height: 100%;
    margin: 0;
}
article {
    height: 375px;
    background-color: #e4decd;;
}
header {
    display: flex;
    align-items: center;
    background-color: #c2b490;
    margin: 0;
}
#logo {
    height: 80px;
    width: 80px;
    opacity: 1.0;
}
a:visited{
    color: burlywood;
}
a:active{
    color: #fa9cbd;
}
#topBar {
    padding: 30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: auto;
}
#topBar a {
    color: gray;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #82716e;
    padding: 10px;
}
#topBar a.currentPage {
    background-color:  #7880b2;
    color: #90ee90;
}
#topBar a:hover {
    background-color: #acb7ae;
    color: #F0FFFF;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
    
}
#batPic {
    height: 200px;
    width: 200px;
    border: 1pt solid #A8A8A8;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#whiteNose {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    opacity: 0.5;
}
img:hover {
    opacity: 1.0;
}

@media screen and (max-width: 700px) {
    .centralGrid {
        grid-template-rows: 4fr; 
    }
    #gridOne {
        grid-row: 1;
        grid-column: 1 / 3;
    }
    #gridTwo {
        grid-row: 2;
        grid-column: 1 / 3;
    }
    #gridThree {
        grid-row: 3;
        grid-column: 1 / 3;
    }
    #gridFour {
        grid-row: 4;
        grid-column: 1 / 3;
    }
}
h2 {
    margin: 0;
}
.centralGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin: 125px 40px 400px 40px;
    grid-gap: 20px;
    padding: 5px;
}
.centralGrid div {
    background-color: #82716e;
}
.content {
   min-height: 100%;
   margin-bottom: -50px;
}
.footer {
    background-color: #acb7ae;
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 20px;
    color: gray;
}
.push {
    min-height: 50px;
}
   
  